tests/** linguist-vendored=true
bindgen/tests/** linguist-vendored=true
editors/** linguist-vendored=true
site/** linguist-vendored=true
scripts/** linguist-vendored=true
fuzz/** linguist-vendored=true
justfile linguist-vendored=true